<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
  <header>
    <a href="/">AnZ</a>

    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
    </nav>
  </header>
  <section>
    <div>
      <img src="/static/src/Image/Screenshot (5).png" alt="">
    </div>
    <div>
      <h1>Hi, it`s <span>AnZ</span></h1>
      <h3>Iam a <span></span></h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos officia itaque maiores. Possimus vero aspernatur eum eligendi minima laboriosam delectus. Corporis facilis, recusandae magnam ex debitis cupiditate! Dolorem, minus. Iusto?</p>
      <div>
        <a href="/">
          <img src="/static/src/SVG/facebook-svgrepo-com.svg" class="h-5" alt="">
        </a>
        <a href="#">
          <img src="/static/src/SVG/instagram-1-svgrepo-com.svg" class="h-5" alt="">
        </a>
      </div>
    </div>
  </section>
</body>
</html>