<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="../static/css/main.css">
</head>
<body class="bg-darkblue">
  <header>
  <nav class="bg-darkblue p-4 flex justify-center">
    <ul class="flex flex-wrap space-x-4">
    <li><a href="/" class="text-darkpink hover:text-gray-300">Home</a></li>
    <li><a href="/about" class="text-darkpink hover:text-gray-300">About</a></li>
    <li><a href="/contact" class="text-darkpink hover:text-gray-300">Contact</a></li>
    </ul>
  </nav>
  <h1 class="text-darkpink text-center text-xl md:text-2xl lg:text-3xl">Welcome to {{ title }}</h1>
  </header>
  <main class="flex flex-col items-center p-4 md:flex-row md:items-start md:justify-center">
    <p class="mb-10 text-darkpink font-Winky text-sm md:text-base lg:text-lg text-center md:text-left leading-relaxed">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br class="hidden md:block">
      Debitis error magni nemo, non sed soluta blanditiis quae rem in vitae cupiditate dicta <br class="hidden md:block">
      exercitationem similique. Veritatis quam quas dolor tempora dolores.
    </p>
  </main>
  <div class="flex flex-col md:flex-row justify-between items-start flex-nowrap gap-8 md:gap-16">
    <div class="flex flex-col md:flex-row items-center justify-center gap-4">
    <img src="../static/src/Image/Screenshot (5).png" alt="" class="w-full md:w-1/2 h-auto object-contain rounded-3xl">
    <p class="text-center text-darkpink font-Winky text-sm md:text-base lg:text-lg">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta at molestias necessitatibus soluta deserunt fuga <br> 
      eaque voluptates consequuntur tempore voluptatum, quos sequi vero libero facere <br> 
      tenetur laboriosam aperiam laudantium architecto!
    </p>
    </div>
  </div>
  <footer>
  <p class="text-darkpink text-center py-4 bg-darkblue fixed bottom-0 w-full font-Winky text-sm md:text-base">
    &copy; 2025 AnZ Website. All rights reserved.
  </p>
  </footer>
</body>
</html>